/* Cores utilizadas na nova index que irá para o Nuxt */
:root {
  --cor-preto: #000000;
  --cor-branco: #ffffff;

  --cor-gelo: #f4f5f7;

  --cor-cinza-1: #d4d4d4;
  --cor-cinza-2: #c8c8c8;

  --cor-marca: #02b168;
  --cor-laranja: #feaf01;
  --cor-vermelho: #ff4649;

  --regular: 'inter-regular';
  --bold: 'inter-bold';

  --f0: clamp(0.6rem, 1vw, 0.7rem);
  --f1: clamp(0.6rem, 1vw, 0.8rem);
  --f2: clamp(1rem, 1vw, 1.2rem);
  --f3: clamp(1.2rem, 1vw, 1.5rem);
  --f4: clamp(1.5rem, 1vw, 2rem);
  --f5: clamp(2rem, 1vw, 2.5rem);
  --f6: clamp(2.5rem, 1vw, 3.5rem);
  --f7: clamp(3.5rem, 1vw, 5.5rem);
}
